h1, h2, h3, ul, body, p {
    margin: 0px;
    font-family: 'AR One Sans', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    background-color: #3b3b3b;
    color: #ffffff;
    height: 40px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

nav ul li {
   margin-left: 1.5rem;
}

/* Button CV - Styles */

.bubbly-button{
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  padding: 1em 2em;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ff0081;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
  
  &:focus {
    outline: 0;
  }
  
  &:before, &:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  
  &:before{
    display: none;
    top: -75%;
    background-image:  
      radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle,  transparent 20%, #ff0081 20%, transparent 30%),
    radial-gradient(circle, #ff0081 20%, transparent 20%), 
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, #ff0081 15%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  }
  
  &:after{
    display: none;
    bottom: -75%;
    background-image:  
    radial-gradient(circle, #ff0081 20%, transparent 20%), 
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, #ff0081 15%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  }
 
  &:active{
    transform: scale(0.9);
    background-color: darken(#ff0081, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }
  
  &.animate{
    &:before{
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after{
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}


@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
 100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
 100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

/*--------------------------------------*/

.half {
    width: 50%;
    padding-left: 30px;
    padding-left: 30px;
}

.heigh {
    height:100vh;
}

/* Start - Paula Alvarez */

.me {
    display: flex;
    flex-direction: row;
    background-color: #eae2cf;
    justify-content: space-evenly;
    align-items: center;;
}

.i_am {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
.container h1:nth-child(1) {
    color: #355c7d;
    font-family: 'Fira Code', monospace;
    font-weight: 800;
    font-size: 20px;
    margin: 0 0 0 35%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    width: 170px;
    animation: type 2s steps(40,end) forwards;
}

.container h1:nth-child(2) {
    opacity: 0;
    font-family: "Work Sans", sans-serif;
    margin: 0 auto auto auto;
    background: linear-gradient(to right, #f8b195, #f67280, #c06c84);
    font-weight: 800;
    font-size: 100px;  
    width: 430px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    animation: shring-animation 2.2s steps(40,end) 2s forwards, blink .5s step-end infinite alternate;
}

@keyframes shring-animation {
    0% {
        background-position: 0 0;
        opacity: 0;
        width: 0;
    }
    1% {
        background-position: 0 0;
        opacity: 1;
        border-right: 1px solid orange;
    }
    50% {
        background-position: 150px 0;
        opacity: 1;
        border-right: 1px solid orange;
    }
    100% {
        background-position: 400px 0;
        opacity: 1;
        border-right: 1px solid orange;
    }
}

@keyframes type {
    0% {
        width: 0;
    }
    1%, 99%{
        border-right: 1px solid orange;
    }
    100%{
        border-right: none;
    }
    }

    @keyframes blink {
    50% {
        border-color: transparent;
    }
}

.me p {
    font-size: 40px;
    color:#3b3b3b;
}

/* -------------------------------------------------------------- */

/* Acerca de mi */

.about_me {
    width: 100%;
    background-color: #b4ccb9;
    color: #ffffff;
    display: flex;
    flex-direction: row;
}

.about_me .about_me_part_one {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.about_me .about_me_part_two {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2rem;
}

/* -------------------------------------------------------------- */

/* Educacion */

.education {
    background-color: #26979f;
    color: #FFFF;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.education h1 {
    padding-bottom: 45px;
    padding-left: 20px;
}

.path {
    display: flex;
    flex-direction: column-reverse;
}

/* -------------------------------------------------------------- */



.experience {
    background-color: #feb3eb;
    text-align: center;
}

.proyects {
    background-color: #e84d5b;
    text-align: center;
}


.image_developer {
    width: 485px;
    height: 300px;
}

.all_icons {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 30px;
}


.icons {
    width: 50px;
    height: 50px;
}

